   
    <!----The social links for both github and LinkedIN-->
    <header class ="portfolio-links"> 
         
        
        <!--actual copyright text for the footer-->
        
        
        <!---github icon link-->
        <a href="https://github.com/muhammadasadullah-boop" target = "_blank" aria-label="github">
            <!---Font Awsome-->
            <i class="fab fa-github"></i>
        </a>
            <!---linkedIn icon link-->
        <a href ="https://www.linkedin.com/in/muhammad-asadullah-529aa7362/" target = "_blank" aria-label="LinkedIn">
            <!---Font Awsome-->
            <i class="fab fa-linkedin"></i>
        </a>
       
    </header>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>