<!DOCTYPE html> <!-- notifies the browser that this is an HTML document -->
<html lang="en"> <!-- Specifies the language of the document which is English -->
<head>
    <meta charset="UTF-8"> <!-- ensures correct text encoding -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- ensures proper scaling on different devices -->
    <title>Asad's Portfolio!</title> <!-- name shown in the browser tab -->
    
    
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- Custom CSS for styling for the project -->
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>


<body>
    <!--Interactive Navigation-->
    <header>
        <div class = "Navigation--bar">
            <nav class = "navbar navbar-expand-lg navbar-light bg-light">
                <div class = "container-fluid">
                    <a class = "navbar-brand" href="#">Asad's Portfolio</a> <!---Shown in top left of navbar as a title-->
                    <!---Toggler menu for smaller screens-->
                    <button class = "navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class = "navbar-toggler-icon"></span>
                    </button>
                    <!---Allows the links to collapse-->
                    <div class = "collapse navbar-collapse" id="navbarNav">
                        <ul class = "navbar-nav ms-auto">
                            <!---Home page link-->
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <!---about page link-->
                            <li class="nav-item"><a class="nav-link" href="/about">About Me</a></li>
                            <!---projects page link-->
                            <li class="nav-item"><a class="nav-link" href="/projects">Past Projects</a></li>
                            <!---contact page link-->
                            <li class="nav-item"><a class="nav-link" href="/contact">Contact Me</a></li>
                        </ul>
                    </div>
                </div>
            </nav>              
        </div>
    </header>


<!---main content for the hoem page-->

<main class = "container text-center mt-5 pt-5"> <!----Containter for the title and the paragraphs using bootstrap They are centered -->
    <div class = "my-5 pt-5"></div>
        <h1>Welcome to a Portfolio page all about Asad!</h1> <!---MAin title-->
        <!---Main Paragraph-->
        <p class = "home-intro-para">There are 3 different places where you can access more information about me. Use the navlinks at the top to go to the different pages other than this one. About section, Projects section, and Contacts section!</p>


</main>

<!-- includes the partials footer ejs at the bottom of every page-->

<footer class="footer-Home"> <!----class for the footer used in css styling-->
    <p> © 2025 Asad's Portfolio</p>
  </footer>

<!-- Bootstrap JS (for navbar toggle) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>

