<!DOCTYPE html> <!-- notifies the browser that this is an HTML document -->
<html lang="en"> <!-- Specifies the language of the document which is English -->
<head>
    <meta charset="UTF-8"> <!-- ensures correct text encoding -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- ensures proper scaling on different devices -->
    <title>Asad's Portfolio!</title> <!-- name shown in the browser tab -->
    
    
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- Custom CSS for styling for the project -->
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>


<body>
    <!--Interactive Navigation-->
    <header>
        <div class = "Navigation--bar">
            <nav class = "navbar navbar-expand-lg navbar-light bg-light">
                <div class = "container-fluid">
                    <!--Instead of the Asadss portfolio my socials links sit here-->
                    <a class = "navbar-brand" href="#"><%- include('partials/header.ejs') %></a>
                    <!---Toggler menu for smaller screens-->
                    <button class = "navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class = "navbar-toggler-icon"></span>
                        <!---Allows the links to collapse-->
                    </button>
                    <div class = "collapse navbar-collapse" id="navbarNav">
                        <ul class = "navbar-nav ms-auto">
                            <!----Home page link-->
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <!---about page link-->
                            <li class="nav-item"><a class="nav-link" href="/about">About Me</a></li>
                            <!---projects page link-->
                            <li class="nav-item"><a class="nav-link" href="/projects">Past Projects</a></li>
                            <!---contact page link-->
                            <li class="nav-item"><a class="nav-link" href="/contact">Contact Me</a></li>
                        </ul>
                         
                    </div>
                </div>
            </nav>              
        </div>
    </header>

<main class = "container text-center mt-5 pt-5"> <!----Containter for the title and the paragraphs using bootstrap They are centered -->
        <h1>Projects and assigments</h1> <!---MAin title-->
        <!---Main Paragraph-->
        <p class = "lead mb-4">
            <!---main paragraph for python cat content-->
            Here are some past projects. one Python project I did about 2 months 
            ago and a wireshark capture project I did last year aswell!</p>

        <!---Python project card-->
        <div class="row justify-content-center">
            <!---Column taking 4/12 of width adjusted for smaller screens-->
            <div class ="col-md-4 mb-4">
                <!--Height of car 90% including text-center and the class for hover animation--->
                <div class="card h-90 text-center user-hover">
                    <!---Image source and fluid responsiveness-->
                    <img src="/images/python-cat.jpg" class=" card-img-top img-fluid" alt="Python">
                    <!--Containts content for card like title and description-->
                    <div class="card-body">
                        <!--The title-->
                        <h5 class="card-title">Python Cat drawing</h5>
                        <!---Description text for the project-->
                        <p class="card-text">
                             This is just a basic drawing of a cat done in python. It uses concepts shapes, lines, colors and composition.</p>
                    </div>
                </div>
            </div>
        </div>

        <!---Wireshark project card-->
        <div class="row justify-content-center">
            <!---Column taking 4/12 of width adjusted for smaller screens-->
            <div class ="col-md-4 mb-4">
                <!--Height of car 90% including text-center and the class for hover animation--->
                <div class="card h-90 text-center user-hover">
                    <!---Image source and fluid responsiveness-->
                    <img src="/images/wireshark-side.jpg" class="card-img-top img-fluid " alt="Wireshark Project Screenshot">
                    <!--Containts content for card like title and description-->
                    <div class="card-body">
                        <!--The title-->
                        <h5 class="card-title">Wireshark Capture Project</h5>
                        <!---Description text for the project-->
                        <p class="card-text">
                             Wireshark capture showing packet analysis on what website responds quicker google or Yahoo.
                        </p>
                    </div>
                </div>
            </div>
        
        </div>
</main>

<%- include('partials/footer.ejs') %> <!--Footer inclusion-->
    <!---Includes the bootstrap SJ for the navbar toggle-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
