body {
    background-image: url('../images/Hubbleimg.jpg'); /* path to my backgorund image */
    background-size: cover;       /* cover the whole page */
    background-repeat: no-repeat; /* don’t tile */
    background-attachment: fixed; /* stays fixed on scroll */
    color: yellow;               /* all text white */
}

.portfolio-links { /*styles for the github and linkedin links on home page*/
   gap: 15px; /* space between links */
   font-size: 1.3rem; /* Font size */
   text-align: center; /*Center the textt */
}

.portfolio-links a { /*styling fo the actual links*/
    color: red; /* link color */
}

.portfolio-links a:hover { /* When user hover over the links they turn white */
    color: green; /* hover color */

}

.home-intro-para { /*styling for the home page intor paragraph*/
    font-size: 1.3em; /* font size */
    text-align: center; /* centers the text */
    color: white; /* white text color */
}

.contact-containter h1 { /*styling for the contact me heading */
    text-align: center; /* centers the text */
    margin-top: 30px; /* margin at the top */
}

.contact-form {
    max-width: 40%; /*Sets the max width of the form */
    margin: 40px auto 0 auto; /* centers the form */
}



.footer-Home { /*styling for the footer on home page*/
    position: fixed; /* fixed position */
    bottom: 0; /* makes the footer sit at the bottom */


}


.lead{ /*Styling for the lead class used in about page */
    color:white;  /* white text color */
}


.navbar-nav .nav-link { /*Css styling to add animations */
    transition: transform 0.4s ease, color 0.4s ease; /*Transformation and color change duration */
    
}

.navbar-nav .nav-link:hover { /*When user hovers over the navlinks */
    transform: scale(1.1); /* scales up the size of the link */
}


.user-hover{ /*Css styling to add animations to project pictures */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* smooth transition for pictures in projects*/
}

.user-hover:hover { /*When user hovers over the project pictures */
    transform: scale(1.05); /* scales up the size of the project picture */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* adds shadow effect */
}